# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment
env/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python environment files
*.env
*.venv

# Logs and temporary files
*.log
*.tmp
